asgiref==3.3.4
config==0.5.0.post0
decouple==0.0.7
Django==3.2
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-modeltranslation==0.17.2
django-registration-redux==2.9
form==0.0.1
Pillow==8.2.0
pip==21.1.1
pytz==2021.1
setuptools==56.0.0
six==1.16.0
sqlparse==0.4.1
